@{
    ViewBag.Title = "_AdminMenu";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Staffs", "Index", "Staffs")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" ><span class="glyphicon glyphicon-off"></span> Log Off</a></li>

    </ul>