@{
    ViewBag.Title = "_TraineeMenu";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Trainee", "Index", "Trainees")</li>
    <li>@Html.ActionLink("Profile", "Profile", "Trainees")</li>
    <li>@Html.ActionLink("My Course", "MyCourse", "Trainees")</li>

</ul>