@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "_TraineeMenu";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Profile", "Trainees", routeValues: null, htmlAttributes: new { title = "Profile" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Trainee", "Index", "Trainees")</li>
    <li>@Html.ActionLink("My Course", "MyCourse", "Trainees")</li>

</ul>