@{
    ViewBag.Title = "_TrainerMenu";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Profile", "Profile", "Trainers")</li>
    <li>@Html.ActionLink("My Course", "MyCourse", "Trainers")</li>
</ul>